<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TechSoft.My.MySettings.ConnectionString" connectionString="Dsn=techsoft;uid=root"
            providerName="System.Data.Odbc" />
        <add name="localhost_techsoft_bd_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=techsoft_bd;persist security info=true;CharSet=utf8;" />
        <add name="TechSoft.My.MySettings.ConnectionString1" connectionString="Dsn=techsoft_local;uid=root"
            providerName="System.Data.Odbc" />
        <add name="techsoft_local" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=techsoft_bd;persist security info=true;CharSet=utf8;" />
        <add name="10.192.192.216_techsoft_bd_Connection" connectionString="XpoProvider=MySql;server=10.192.192.216;port=3306;user id=pruebascarlos; password=3298cjmuR3; database=techsoft_bd;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>